<%= form_for([@product, @product.bookings.new]) do |f| %>
<div class="col-md-4">
  <dl>
    <dt>Start date</dt>
    <dd><%= f.text_field :from_date %></dd>
    <dt>End date </dt>
    <dd><%= f.text_field :to_date %> </dd>
  <dt>
</div>
<div class="col-md-8">
<%= f.submit "Book Now", class: "btn btn-primary"%>
</div>
<% end %>

<script>
  $(function(){
    $('#booking_from_date').datepicker({
      dateFormat: 'dd-mm-yy'
    });
    $('#booking_to_date').datepicker({
      dateFormat: 'dd-mm-yy'
    });
  });
</script>
