<body class="pages">
  <div class="centering text-center slogan">
    <div class="row align-items-center">
      <h1>Rentals</h1>
      <h3>Save or Make some money renting your items</h3>
    </div>
  </div>
</body>
