<div id="title" class="slide header">
  <div class"main-page">
    <h1>Rentals</h1>
      <%= form_tag(search_page_path, :method => "get", class: 'main-search') do %>
      <div class='input-group' >
        <%= search_field_tag :search, params[:search], placeholder: "search", class: "form-control", id: "mainSearch" %>
        <div class="input-group-btn">
          <%= button_tag "",:id => 'mainButton', :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>
        </div>
      </div>
      <% end %> 
  </div>
</div>
 

<div id="slide1" class="slide">
  <a href="/categories/1">
    <div id="tools" class="title">
      <h1>Looking for eletronics??</h1>
    </div>
  </a>
</div>

<div id="slide2" class="slide">
  <a href="/categories/2">
    <div  id="sport" class="title">
      <h1>Or sport equipments??</h1>
    </div>
  </a>
</div>

<div id="slide3" class="slide">
  <a href="/categories/3">
    <div  id="eletronic" class="title">
      <h1>Maybe some tools??</h1>
    </div>
  </a>
</div>

<div id="slide4" class="slide">
  <a href="/categories/">
    <div class="title">
      <h1>Nothing yet??</br>Try all categories</h1>
    </div>
  </a>
  <div class="social-media">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-pinterest"></a>
  </div>
</div>

