<h1 class="text-center">HOME</h1>

<%= link_to "Login", new_profile_session_path %>

<%= link_to "Registartion",  new_profile_registration_path %>

<%= link_to "Logout",  destroy_profile_session_path %>
