// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

//FONTS
@import url("https://fonts.googleapis.com/css?family=Cabin");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


// INDEX PAGE
@import "pages.scss";
@import "navbar.scss";

// App
@import "products";
@import "category";

.container {
  width: 60%;
}

.panel {
  margin-bottom: 0;
}

a {
  color: #1b2c34;
  text-decoration: none;
 
}
//STRIPE FORM

#add-card form {
  width: 480px;
  margin: 20px auto;
}

#add-card label {
  position: relative;
  color: #6a7c94;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
  margin-bottom: 10px;
  display: block;
}

#add-card label > span {
  float: left;
}

// .card {
//   padding-bottom: 45px;
//   // padding-bottom: 15px;
// }

.outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 20px;
  text-align: center;
}

.main-search {
  float: none !important;
  margin: 0 auto;
  height: 18px;
}

#title > input#search {
  height: 50px;
}

.col-md-3 > .sidebar-list {
  text-align: center;
}

.productShow{
  width:40%;
}

h1 {
  font-family: "Cabin", sans-serif;
  font-style: "bold";
  text-align: center;
}

#mainSearch {
  height: 50px;
  border-radius: 25px;
}

#mainButton {
  height: 50px;
  top: -1%;
  border-radius: 1000px;
}

h4{
  font-family: 'Open Sans', sans-serif;
  color: #f7ce43

}
p{
  font-family: 'Open Sans', sans-serif;

}