.cards {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 15px;
  padding: 1.5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  position: relative;
  margin-bottom: 20px;
  color: #fefff9;
  text-decoration: none;
  -moz-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.card span {
  display: block;
}

span.card-header {
  min-width: 550px;
}

.card .card-summary {
  padding: 5% 5% 3% 5%;
}

.card .card-header {
  position: relative;
  height: 275px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px;
  border-radius: 4px 4px 0 0;
}
.card .card-header:hover,
.card .card-header:focus {
  background-color: rgba(255, 255, 255, 0);
}
.card .card-title {
  background: rgba(247, 206, 67, 0.85);
  padding: 3.5% 0 2.5% 0;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.card .card-title h3 {
  font-size: 1.2em;
  line-height: 1.2;
  padding: 0 3.5%;
  margin: 0;
}
.card:hover,
.card:focus {
  -moz-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}
.card:hover .card-title,
.card:focus .card-title {
  background: rgba(247, 206, 67, 0.95);
}
.card:hover .card-meta,
.card:focus .card-meta {
  max-height: 1em;
}

h1 {
  font-family: "Cabin", sans-serif;
  font-style: bold;
  font-size: 75px;
}

h2 {
  font-family: "Cabin", sans-serif;
}

.panel-default > .panel-heading {
  background-color: #f2f7f8;
}

.panel-heading {
  border-style: none;
}

.panel-footer {
  border-style: none;
}

.cards > a {
  text-decoration: none;
}

.card-summary {
  background-color: rgba(27, 44, 52, 0.7);
}


@mixin bgimage($name) {
  $url: "/assets/#{$name}.jpg";
  background: url($url);
  background-size: cover;
}

.bg-cat1 {
  @include bgimage(eletronics);
}

.bg-cat2 {
  @include bgimage(furniture);
}

.bg-cat3 {
  @include bgimage(sport equipment);
}

.bg-cat4 {
  @include bgimage(tools);
}

// CARD ANIMATION

.box .innerbox {
  position: relative;
  display: flex;
  transition: opacity 300ms ease-in-out;
}
.box .innerbox.is-sent {
  -webkit-animation: launch 400ms ease-in-out;
  animation: launch 430ms ease-in-out;
}

.box .innerbox .send {
  cursor: pointer;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.2);
}
.box .innerbox .send:hover {
  -webkit-transform: translate(0px, -5px) scale(1.1);
  transform: translate(0px, -5px) scale(1.1);
}

@-webkit-keyframes launch {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  10%,
  15% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  40%,
  70% {
    -webkit-transform: translateY(-1600px) scale(1);
    transform: translateY(-1600px) scale(1);
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
    -webkit-transform: translateY(-1600px) scale(0.6);
    transform: translateY(-1600px) scale(0.6);
  }
  72% {
    opacity: 0;
    -webkit-transform: translateY(0px) scale(0.6);
    transform: translateY(0px) scale(0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
}

@keyframes launch {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
  10%,
  15% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
  40%,
  70% {
    -webkit-transform: translateY(-1600px) scale(1);
    transform: translateY(-1600px) scale(1);
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
    -webkit-transform: translateY(-1600px) scale(0.6);
    transform: translateY(-1600px) scale(0.6);
  }
  72% {
    opacity: 0;
    -webkit-transform: translateY(0px) scale(0.6);
    transform: translateY(0px) scale(0.6);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1);
  }
}
