<header class="page-header">
  <h1> All Categories</h1>
</header>
<div class="row">
  <div class="col-md-12">
    <%  @category.each do |category| %>
    <div class="cards col-md-4">
      <a class="card" href="/categories/<%=category.id%>">
        <span class="card-header" style="background-image: url("/asstes/cat2.jpg"); ">
          <span class="card-title">

          </span>
        </span>
        <span class="card-summary">
          <h3><%= category.name %></h3>
        </span>
      </a>
    </div>
    <% end %>
  </div>
</div>
